<!-- Create your form here -->
<h1>Student Form</h1>
<%= form_tag '/students' do %>
    <label for="first_name">Student First Name: </label>
    <%= text_field_tag :'first_name' %> <br>
    <label for="last_name">Student Last Name: </label>
    <%= text_field_tag :'last_name' %> <br>
    <%= submit_tag "Submit Student"%>
<% end %>